@import "~antd/dist/antd.less";
@import "config/variables.less";

.app-loading {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .anticon-loading {
    font-size: 50px !important;
  }
}

.app {
  text-align: left;
}
