@import "~antd/es/style/themes/default";

@gray-1: #ffffff;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #e8e8e8;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;

// Make sure that all variables initial value must be unique otherwise changing one color will affect the other.
//@main-color: #739b42;
//@main-background: #333333;
//@background-light: #939393;
//@background-light: white;
//@secondary-color: #a9a9a9;
//@secondary-color-darker : #555555;
//
////main
//@primary-color: #5b8c00;
@primary-color: #5d8239;
//@primary-color: #4ab198;
//@primary-color: #0093ce;
//@primary-1: fade(@primary-color, 15%);
//@heading-color: white;
@text-color: black;
@text-color-secondary: #595959;
@layout-body-background: #ffffff;
//@component-background: @main-background;
//@body-background: @main-background;
//
////sider
@layout-sider-background: #f5f5f5;
//
////header
@layout-header-background: #f5f5f5;
@layout-header-height: 50px;
//
////menu
@menu-collapsed-width: 60px;
@menu-item-active-bg: white;
@menu-bg: #f5f5f5;

//
////button
@btn-primary-bg: #595959;
@btn-default-bg: #f5f5f5;
//
////table
//@background-color-light: rgba(255, 255, 255, 0.02);;
//@background-color-pbs: @main-background;
//@table-body-sort-bg: rgba(255, 255, 255, 0.02);
//@table-header-sort-bg: rgba(255, 255, 255, 0.05);
//
////border
//@border-color-pbs: @secondary-color-darker;
//@border-color-split: @secondary-color-darker;
//
////modal
//@modal-header-bg: @main-background;
//
////input
//@input-bg: @main-background;
//@input-placeholder-color: @secondary-color-darker;

